PORT=8000
MONGODB_URI=mongodb://danish:Danish123@ac-fzfop31-shard-00-00.mgxerdp.mongodb.net:27017,ac-fzfop31-shard-00-01.mgxerdp.mongodb.net:27017,ac-fzfop31-shard-00-02.mgxerdp.mongodb.net:27017/?ssl=true&replicaSet=atlas-b16pgo-shard-0&authSource=admin&appName=Cluster0